body
{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #000000 ;
	background-color: #448D76
	;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
	color: #FD4D0C;
	font-weight: bold;
}

h1, h2, h3
{
	color: #FD4D0C;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:ivory;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

button {

	background-color: #000000;
	color: white;
}



/* Apply 4 CSS properties to any of your input elements, such as colors, fonts, sizes, or layout. */

label {

	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #093426;

}

input {
	font-style: italic;
	background-color: #68d8c0
}


